@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.htmlBody{
    background-color: white;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
}
.hexValue{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        font-family: 'Teko', sans-serif;
        
        font: bold;
        font-size: 70px;
        text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    
}
div{
    background-color: whitesmoke;
    border-radius: 20%;
    border: 3px solid grey;
}

button{
    background-color: white;
    align-content: center;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    font-size: 20px;

    box-shadow: 21px 21px 13px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 21px 21px 13px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 21px 21px 13px 0px rgba(0,0,0,0.5);
    

}
